.page {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;

  @media (max-width: 800px) {
    height: auto;
  }
}

.page-body {
  flex: 1;
  min-height: 0;
  overflow-y: auto;

  @media (max-width: 800px) {
    overflow: visible;
  }
}
